#board{
    width: 400px;
    height: 400px;
    border:1px solid black;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:auto;
    gap:2px;
}

.cell{
    width: 100%;
    height: 100%;
    border:1px solid black;
    
}
.cell:hover{
    background-color: gray;
}
.cell:active{
    border-radius: 10px;
}